@model IEnumerable<SpeedThruLibrary.Truck>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TruckId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TruckId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doors)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TruckId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TruckId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TruckId })
            </td>
        </tr>
}
    </tbody>
</table>
